a {
  text-decoration: none;
}

.card{
  padding: 1em;
  max-height: 350px;
}
.card:hover {
  cursor: pointer;
  background-color: #348d9d;
  color: #d3dce6;
}
.previ{
  color: #757f8d;
}
.previ:hover{
  color: #bdc6d0;
}
.content {
  width: 100%;
}

.block {
  width: 100%;
  min-height: 680px;
  margin: auto;
}

.load-btn-warpper {
  width: 100%;
  text-align: center;
}

.el-button {
  color: #d3dce6;
  font-size: 1em;
}

.load-btn {
  background-color: #348d9d;
  border-color: #348d9d;
  margin: 0 0.2em;
}

.currentPage {
  background-color: #304156;
}

.title {
  font-family: 幼圆;
  font-size: 2em;
  font-weight:bold ;
  padding-bottom: 0.5em;
}

.blog-search-none {
  color: #bfcbd9;
  font-size: 5em;
}

@media (max-width: 1440px) {
  /*覆盖浏览器默认设置*/
  ul {
    padding-inline-start: 10px;
  }
}
